<script>
  {% if env %}
  if('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js')
  {% endif %}
  document.documentElement.style.setProperty('--width', window.innerWidth)
  window.addEventListener('resize', () => {
    document.documentElement.style.setProperty('--width', window.innerWidth)
  })
</script>
<script async defer data-website-id="573405e9-6c2b-4514-bb6a-42c995bdd025" src="https://umami.shinlog.me/umami.js"></script>
