<script>
  if('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js')
  document.documentElement.style.setProperty('--width', window.innerWidth)
  window.addEventListener('resize', () => {
    document.documentElement.style.setProperty('--width', window.innerWidth)
  })
</script>
<script async defer data-domain="shinlog.me" src="https://analytics.shinlog.me/js/plausible.outbound-links.js"></script>