<script>
  {% if env %}
  if('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js')
  {% endif %}
  document.documentElement.style.setProperty('--width', window.innerWidth)
  window.addEventListener('resize', () => {
    document.documentElement.style.setProperty('--width', window.innerWidth)
  })
</script>
<script async defer data-domain="shinlog.me" src="/js/script.js"></script>