<link as="style" href={{ "/style.css" | cssHash }} rel="preload">
<link rel="preload" href="/eb-garamond/ebGaramond-28fcef18.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/eb-garamond/ebGaramondItalic-02c49222.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/eb-garamond/ebGaramondSemibold-a9735e5b.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/ia-duo/iAWriterDuo-9c476c4b.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/ia-duo/iAWriterDuoItalic-b414d0e8.woff2" as="font" type="font/woff2" crossorigin="anonymous">
{% if podcast %}
<link rel="prefetch" href={{ "/podcast.js" | jsHash }}>
{% endif %}