@font-face {
  font-family: 'EB Garamond';
  src: url('assets/eb-garamond/eb-garamond-regular.28fcef18f3ac4bd0305b1835dec58df8.woff2') format('woff2'),
    url('assets/eb-garamond/eb-garamond-regular.eda39f07fd22672115e813bfc13f09a5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('assets/eb-garamond/eb-garamond-italic.02c492226deb95e05b2173a437613076.woff2') format('woff2'),
    url('assets/eb-garamond/eb-garamond-italic.82b6bf45702d75663d1347bfa8a31e56.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('assets/eb-garamond/eb-garamond-semibold.a9735e5b60880c8c47c305b369f6564f.woff2') format('woff2'),
    url('assets/eb-garamond/eb-garamond-semibold.e68eb4b6c02a7217bfeb717a141c439d.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Duo';
  src: url('assets/ia-duo/iAWriterDuo.9c476c4b3e1398259b9f7b7bdcd65c8c.woff2') format('woff2'), url('assets/ia-duo/iAWriterDuo.e6297862f70e7b764a66c2729b8b89a9.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Duo';
  src: url('assets/ia-duo/iAWriterDuoItalic.b414d0e8b6e475628cc5e93db4c88ec3.woff2') format('woff2'),
    url('assets/ia-duo/iAWriterDuoItalic.56f726becb103ee1b5a398cdda2584c2.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif CN';
  src: url('assets/SourceHanSerifCN/SourceHanSerifCN.24178e12650480eb4c422a1f876385bd.woff2') format('woff2'),
    url('assets/SourceHanSerifCN/SourceHanSerifCN.31a1da40b1363e2e7284cf7e1907d79a.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: url('assets/SourceHanSerifJP/SourceHanSerifJP.d5a3a82a57342ab7db59743a2666a0f4.woff2') format('woff2'),
    url('assets/SourceHanSerifJP/SourceHanSerifJP.5315a1a4ce47f9e4c9e89bc971286364.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
