{% set body %}
  {% if podcast %}
    {% include "js/podcast.js" %}
    const player = new Shikwasa({
      container: () => document.querySelector('.podcast'),
      audio: {
        title: "{{ title }}",
        src: "{{ podcast }}"
      }
    })
  {% endif %}
  {% include "js/sidenote.js" %}
{% endset %}
<script>
  {{ body | safe }}
</script>