<link as="style" href="/style.css" rel="preload">
<link rel="preload" href="/assets/eb-garamond/eb-garamond-regular.28fcef18f3ac4bd0305b1835dec58df8.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/assets/eb-garamond/eb-garamond-italic.02c492226deb95e05b2173a437613076.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/assets/eb-garamond/eb-garamond-semibold.a9735e5b60880c8c47c305b369f6564f.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/assets/ia-duo/iAWriterDuo.9c476c4b3e1398259b9f7b7bdcd65c8c.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/assets/ia-duo/iAWriterDuoItalic.b414d0e8b6e475628cc5e93db4c88ec3.woff2" as="font" type="font/woff2" crossorigin="anonymous">