@font-face {
  font-family: 'EB Garamond';
  src: url('/eb-garamond/ebGaramond-28fcef18.woff2') format('woff2'),
    url('/eb-garamond/ebGaramond-eda39f07.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/eb-garamond/ebGaramondItalic-02c49222.woff2') format('woff2'),
    url('/eb-garamond/ebGaramondItalic-82b6bf45.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/eb-garamond/ebGaramondSemibold-a9735e5b.woff2') format('woff2'),
    url('/eb-garamond/ebGaramondSemibold-e68eb4b6.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Duo';
  src: url('/ia-duo/iAWriterDuo-9c476c4b.woff2') format('woff2'), url('/ia-duo/iAWriterDuo-e6297862.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Duo';
  src: url('/ia-duo/iAWriterDuoItalic-d443c158.woff2') format('woff2'),
    url('/ia-duo/iAWriterDuoItalic-c26bd1d3.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif CN';
  src: url('/SourceHanSerifCN/SourceHanSerifCN-24178e12.woff2') format('woff2'),
    url('/SourceHanSerifCN/SourceHanSerifCN-31a1da40.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: url('/SourceHanSerifJP/SourceHanSerifJP-d5a3a82a.woff2') format('woff2'),
    url('/SourceHanSerifJP/SourceHanSerifJP-5315a1a4.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
