<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "components/meta.njk" %}
    {% include "components/preload.njk" %}
    {% include "components/style.njk" %}
    {% include "components/js-head.njk" %}
  </head>
  <body>
    {% include "components/header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    <script type="module" src={{ "/script.js" | jsHash }}></script>

  </body>
</html>