<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "components/meta.njk" %}
    {% include "components/preload.njk" %}
    {% include "components/style.njk" %}
    {% include "components/js-head.njk" %}
  </head>
  <body>
    {% include "components/header.njk" %}

    <main>
      {{ content | safe }}
    </main>
    
    <script {% if not env %}type="module"{% endif %} src="{{ '/ql.js' | jsHash }}"></script>
    {% if page.url !== '/' %}
      <script src={{ "/sidenote.js" | jsHash }}></script>
    {% endif %}
    {% if podcast %}
      <script src={{ "/podcast.js" | jsHash }}></script>
    {% endif %}
  </body>
</html>