---
layout: base.njk
---
{% if content %}
<div>
  {{ content | safe }}
</div>
{% endif %}

{% for series in collections.home %}
<section class="series">
  <h2>{{ series.title }}</h2>

  <ol class="postlist">
  {% for item in series.children %}
    <li class="postlist-item">
      <div class="postlist-date">
        <time datetime="{{ item.date | htmlDateString }}">{{ item.date | readableDate }}</time>
      </div>
      <a href="{{ item.url | url }}" class="postlist-link" lang="{{ item.data.lang }}">{{ item.data.title }}</a>
    </li>
  {% endfor %}
  </ol>

</section>
{% endfor %}