---
layout: base.njk
---
<div class="interlude-index">
  <h2>Index</h2>
  <ol>
  {% for year, posts in collections.interludesByYear %}
    <li class="interlude-index-yearlist">
      <div>{{ year }}:</div>
      <ol>
      {% for post in posts %}
        <li><a href="#{{ post.date | htmlDateString }}">{{ post.date | shortDate }}</a></li>
      {% endfor %}
      </ol>
    </li>
  {% endfor %}
  </ol>
</div>

<div class="interlude-list">
{% for post in collections.interludes %}
  <sidenote-container-element class="interlude-item" id="{{ post.date | htmlDateString }}" lang="{{ post.data.lang }}" after-elements="time, aside">
    <time class="interlude-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {{ post.templateContent | safe }}
  </sidenote-container-element>
  {% if loop.last == false %}<hr />{% endif %}
{% endfor %}
</div>