---
layout: base.njk
---
<sidenote-container-element class="post{% if classes %}{{ classes | classToString }}{% endif %}" lang="{{ lang }}" after-elements=".info">
  <section class="info">
    <h1>{{ title }}</h1>
    {% if alternative %}
      {% include "components/tabs.njk" %}
    {% endif %}
    {% if date %}
      <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    {% endif %}
    {% if description %}
      <p class="description">{{ description | markdown | safe }}</p>
    {% endif %}
  </section>
  {% if podcast %}
    <div class="podcast" data-title={{ title }} data-src={{ podcast }}></div>
  {% endif %}
  {{ content | safe }}
</sidenote-container-element>